doctype
html(__=language_attributes())
  head
    meta(charset!=-bloginfo( 'charset' ))
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="profile", href="http://gmpg.org/xfn/11")
    link(rel="pingback", href!=-bloginfo('pingback_url'))
    - wp_head()
  body(__=body_class())
    #page.hfeed.site
      a.skip-link.screen-reader-text(href="#content")
        - esc_html_e( 'skip to content', $$ )
      header#masthead.site-header(role="banner")
      #content.site-content
        // separator mark for splitter tool
