/*
Theme Name: $_name
Theme URI: 
Author: Hiroyoshi Kurohara(Microgadget,inc.)
Author URI: http://www.microgadget-inc.com/
Description: 
Version: 1.0
License: 
License URI: 
Tags: 
Text Domain: $_name

*/

@import 'inc/sanitize'

